/* how did we bring the bulging effect ?? */
.outermost{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.first{
    height:500px;
    width: 300px;
    border:2px solid black;
    margin-bottom: 40px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.4);
}
.first p{
    font-size: 1.7em;
}
.divu{
    padding: 20px;
}
.button{
    height:35px;
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    background-color: grey;
    font-size: 1.7em;
   margin-left:10px;

}
.pic{
    height:9em;
    width:100%;
    background-image: url("box1_image.jpg");
}
